.temperature-legend {
  display: inline-block;
}

.color-scale {
  height: 150px; /* adjust the height as needed */
  display: flex;
  flex-direction: column-reverse;
}

.stop-label {
  width: 100%;
  height: calc(100% / 8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-text {
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
}

/* Add a gradient background */
.color-scale {
  background: linear-gradient(
    to top,
    rgba(130, 87, 219, 1) -30%,
    rgba(32, 140, 236, 1) -20%,
    rgba(32, 196, 232, 1) -10%,
    rgba(35, 221, 221, 1) 0%,
    rgba(194, 255, 40, 1) 10%,
    rgba(255, 240, 40, 1) 20%,
    rgba(255, 194, 40, 1) 25%,
    rgba(252, 128, 20, 1) 30%
  );
}
